<div *ngIf="dataLoaded==false" class="spinner-border text-secondary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded==true" class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Araba Id</th>
      <th>Resim Yolu</th>      
      <th>Tarih</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let image of carimages">
    <td>{{ image.Id }}</td>
    <td>{{ image.carId}}</td>
    <td>{{ image.ImagePath}}</td>
    <td>{{ image.DateTime }}</td>
  </tr>
  </tbody>
  
</table>
