<div *ngIf="dataLoaded==false" class="spinner-border text-secondary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded==true" 

class="table">

  <thead>
    <tr>
      <th>Araba Id</th>     
    </tr>
  </thead>

  <tbody>
    <tr (click)= "setCurrentCarImage(image)" *ngFor="let image of carimages"
    routerLink="/cars/image/{{image.carId}}"
    [class]="getCurrentCarImageClass(image)">
    <td>{{ image.carId}}</td>
  </tr>
  </tbody>
  
  <h5 *ngIf="currentImage">{{currentImage.carId}} seçtiniz</h5>

</table>
